.page-top {
     padding-top:75px;
}
.page-top > h1 {
     font-size: 4em;
}
.page-top > p {
     font-size: 1.5em;
}
#pictures {
     /* Needed for navbar link location */
     padding-top:50px;
}
.carousel-inner > .item > img {
     /* Center images */
     margin: 0 auto;
}
.carousel-control.left, .carousel-control.right {
     /* Remove default background image */
     background-image: none;
}

